*{
    margin: 0;
    padding: 0;
}

/*body*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;

}

/*links */
a:link {
    color:white;
    text-decoration: none;
  }


  a:visited {
    
    color:white;
  }
  
  a:hover {
    color:violet;
  }

/*navbar*/
#navbar{
    display: flex;
    background-color: #5247BC;
    color:white;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 120px;
    filter: drop-shadow(0px 4px 3px rgba(61, 52, 152, 0.35));
    
}
#navbar .navbar-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;    
}

#navbar .navbar-container ul li{
    padding: 0 20px;
}

/*Fontes*/
h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color:white;
}

h2, a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

/*Título principal*/
#title {
    width: 1280px;
    height: 85px;
    margin-top: 1.5em;
    margin-left: 1em;
    background: #3D3498;
    border-radius: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;     

}

/*Cards*/
.card{
    width: 80%;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction:column;
    text-align: justify;
    justify-content: center;
    align-items: center;

}

.card .topic_title{
    text-align: left;
    position: relative;
    left: -18.3em;
    margin-bottom: 10px;
}


.card .card-image {
    width: 60%;
    height: 10%;
    margin-top: 20px;
    border-radius: 40px;
    justify-content: center;
    position:relative;
    flex-direction: column;
    align-items: center; 
    background: #CCCCCC;

}

/*Botões*/
.button{
    height: 60px;
    width: 40%;
    background: #5247BC;
    border-radius: 40px;
    margin-top: 20px;
    align-items: center; 
    justify-content: center;
    display: inline-flex;
    border: none;
    letter-spacing: 1px;
}

.pass_button{
    height: 60px;
    width: 60px;
    background: #5247BC;
    border-radius: 40px;
    margin-top: 60px;
    align-items: center; 
    justify-content: center;
    display: inline-block;
    border: none;

}

/*Linha horizontal divisoria*/
#line {
    margin-top: 20px;
    width: 80%;
    border: 1px solid #000;
}

/*Rodapé*/
.footer-content{
    width: 80%;
    margin-left: 150px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-content .media{
    width: 40px;
    height: 40px;
    padding: 10px 2px;
}

.fc_1{
    display: inline-block;
}

.fc_2{
    float:right;
    text-align: right;
}
 


